@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #FF5733;
    box-sizing: border-box;
    }
    
    h2{
        background-color: transparent;
    }

    .flex_wrapper{
        height:125vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 125px 100px 1fr 1fr 1fr 1fr minmax(30px, 60px);
        grid-template-areas: 
        "hea hea hea"
        "ing ing ing"
        "se1 se2 se3"
        "se1 se2 se3"
        "se4 se5 se6"
        "se4 se5 se6"
        "foo foo foo"
        ;
    }

    /* *, flex_wrapper, header, section och footer är gemensamma i varenda HTML-fil. */

    header{     
        grid-area: hea;  
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #f9f4d7;
        width: auto;
    }

    #rat {
        width: 250px;
        grid-area: hea;
        margin: -200px;
        background-color: transparent;

    }

    .logo{
        height: 100px;
        width: auto;

    }


    .head{
        background-color: #f9f4d7;
        color: black;
        text-decoration: none;
        font-size: 3.125rem;
        font-style: italic;

    }

    section{
        margin: 10px;

    }
    

    footer {
        grid-area: foo;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d4c87f;
    
    }
    #copy {
        background: transparent;
        font-style: italic;
    }
    
      /* Denna del av css filen är till för konst.html */

      #inled{
        display: flex;
        grid-area: ing;
        justify-content: center;
        align-items: center;
        background-color: #dedb96;
        box-shadow: 0 0 6px 7.5px;
        
      }

      .intro{
        font-size: 3.625rem;
        font-style: italic;
        background-color: transparent;

      }
    
    #section_1_konst{  
        display: flex;     
        grid-area: se1;
        position: relative;
        margin-top: 20px;
        margin-left: 20px;

    }
    
    .info{
        display: none;
        font-style: italic;
        background-color: transparent;
        text-decoration: none;
        text-transform: capitalize;
    }

    #person_1_konst{
        font-size: 2vw;
        color: antiquewhite;
    }

    #section_1_konst:hover  .info {
        display: block;
        position: absolute; 
        text-align: center;
        justify-content: center;
        bottom:0;
        right: 8px;
    }


    #section_2_konst{  
        display: flex;     
        grid-area: se2;
        position: relative;
        margin-top: 20px;

    }

    #section_2_konst:hover  .info {
        display: block;
        position: absolute; 
        text-align: center;
        justify-content: center;
        bottom:0;
        right: 8px;
    }

    #person_2_konst{
        font-size: 2vw;
        color: antiquewhite;
    }

    #person_3_konst{
        font-size: 2vw;
        color: black;
    }

    #section_3_6_konst{
        display: flex;
        grid-row-start: se3;
        grid-column-start: se3;
        grid-row-end: se6;
        grid-column-end: se6;
        position: relative;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    #section_3_6_konst:hover  .info {
        display: block;
        position: absolute; 
        text-align: center;
        justify-content: center;
        bottom:0;
        right: 8px;
    }

    #person_4_konst{
        font-size: 2vw;
        color: antiquewhite;
    }

    #section_4_5_konst{
        display: flex;
        grid-row-start: se4;
        grid-column-start: se4;
        grid-row-end: se5;
        grid-column-end: se5;
        position: relative;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    #section_4_5_konst:hover  .info {
        display: block;
        position: absolute; 
        text-align: center;
        justify-content: center;
        bottom:0;
        right: 8px;
    }

    .konst{
        border-radius: 20px;
        width: 100%;
        height: auto;
    }

/* Här slutar koden för konst.html*/

/* card.html start*/
    .card_wrapper{
        height:115vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 125px 100px auto auto minmax(30px, 60px);
        grid-template-areas: 
        "hea hea hea hea"
        "ind ind ind ind"
        "sc1 sc2 sc3 sc4"
        "sc5 sc6 sc7 sc8"
        "foo foo foo foo"
        ;
    }

    #inled_card{
        display: flex;
        grid-area: ind;
        justify-content: center;
        align-items: center;
        background-color: #e8eab5;
        box-shadow: 0 0 2.5px 5px;
        
    }

    .person_info{
        font-size: 1vw;
    }

    .sec1_card{
        grid-area: sc2;
        background: rgb(172, 160, 160);
        position: relative;
        border-radius: 20px;
        

    }

    #person_1{
        position: absolute;
        width: 100%;
        height: 80%;
        border-radius: 20px; 
    }

    #person_1_info{
        display: block;
        position: absolute;
        background: transparent;
        bottom: 0;
        left: 10px;
        grid-area: sc2;
        cursor: default;
    }

    .sec2_card{
        grid-area: sc3;
        background: rgb(240, 171, 110);
        position: relative;
        border-radius: 20px;
    }

    #person_2{
        grid-area: sc3;
        position: absolute;
        width: 100%;
        height: 80%;
        border-radius: 20px; 
    }

    #person_2_info{
        display: block;
        position: absolute;
        background: transparent;
        bottom: 0;
        left: 10px;
        grid-area: sc3;
        cursor:default;
    }

    .sec3_card{
        grid-area: sc6;
        background: rgb(213, 246, 186);
        position: relative;
        border-radius: 20px;
    }

    #person_3{
        grid-area: sc6;
        position: absolute;
        width: 100%;
        height: 80%;
        border-radius: 20px; 
    }

    #person_3_info{
        display: block;
        position: absolute;
        background: transparent;
        bottom: 0;
        left: 10px;
        grid-area: sc6;
        cursor:default;
        
    }

    .sec4_card{
        grid-area: sc7;
        background: rgb(94, 185, 185);
        position: relative;
        border-radius: 20px;
    }

    #person_4{
        grid-area: sc7;
        position: absolute;
        width: 100%;
        height: 80%;
        border-radius: 20px; 
    }

    #person_4_info{
        display: block;
        position: absolute;
        background: transparent;
        bottom: 0;
        left: 10px;
        grid-area: sc7;
        cursor:default;
    }

    .person_card{
        border-radius: 20px;
    }

    .kontakt{
        border-radius: 20px;
    }


    /* Start på index.html*/

    .home_wrapper{
        height:115vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 125px 0.45fr 1fr minmax(30px, 60px);
        grid-template-areas: 
        "hea hea"
        "dip dip"
        "sp1 sp1"
        "foo foo"
        ;
    }

    #section_1_hem{  
        display: flex;     
        grid-area: dip;
        position: relative;
        overflow: hidden;
        background-color: #FF5733;
        margin: 10px;
        border-style: solid;
        border-width: 0.75rem;
        height: 80%;
        box-shadow: 0 10px 8px 5px;
    }

    #bird{
        width: 100%;
    }

    .parent_div{
        display: flex;
        grid-area: sp1;
        background-color: transparent;
        position: relative;
        padding: 5px;
        border-style: double;
        border-width: 10px;
        margin: -1.5rem  10px 10px 1rem;
        background-color: #d0a63d;
        overflow: scroll;    
    }

    .child_div{
        position: absolute;
        top: 0;
        background-color: transparent;
        font-family: 'Lobster Two', sans-serif;
    }

    #rubrik{
        background-color: transparent;
        position: absolute;
    }

    .under_rub{
        position: absolute;
        background-color: transparent;
    }

    .om_oss{
        font-size: 1.5rem;
    }